.mainContainer{
    height: 100vh;
    width: 18%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.logoContainer{
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.adminNav{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    padding-top: 5vh;
}

span.navItem,
span.navItemActive{
    font-size: 20px;
    padding: .3em 0;
    padding-left: 1vw;
    color: #444;
    /* color: #3c4b64; */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;
    border-left: 5px solid transparent;
}
span.navItemActive{
    border-left: 5px solid #fe6849;
    color: #fe6849;
}
span.navItem svg,
span.navItemActive svg{
    margin-right: 5px;
    font-size: 25px;
}

span.navItem:hover{
    color: #fe6849
}

.close{
display: none;
}