.containerPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerPassword form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}