/* borrar */

.titleContact {
  text-transform: uppercase;
  color: #fe6849;
  font-size: 1.5rem;
  font-weight: bold;
}

.containerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}

.containerImage {
  width: 40%;
}

.deliveryImage {
  background-position: center;
  background-size: cover;
  width: 80%;
}
/* 
.form {
  margin-bottom: 20vh;
} */
.form {
  /* height: 40vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.boxInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  width: 50%;
  height: 38vh;
  flex-direction: column;
}

.form textarea {
  width: 43vw;
  height: 25vh;
  resize: none;
  font-size: 16px;
  padding: 3%;
}
.form textarea:focus {
  outline-color: #ed6c02;
}

/* ::placeholder {
  padding-left: 2%;
  padding-top: 2%;
} */

/* .textArea:focus {
  outline: orange;
  outline-color: orange;
} */

button {
  background-color: #fe6849;
  border-radius: 1.5vw;
  color: #fff;
  padding: 2vh 3vw;
  border: none;
  text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
  .containerContact {
    justify-content: center;
    align-items: center;
  }
  .deliveryImage {
    width: 38vw;
  }
  .titleContact {
    font-size: 3vw;
  }
  .form input {
    width: 70%;
    /* border-radius: 1vw; */
  }
  .containerLink {
    display: none;
  }
  .form textarea {
    width: 70%;
    /* border-radius: 2vw; */
  }
  /* .containerImage {
    margin-bottom: 20vw;
  } */
}

@media screen and (max-width: 880px) {
  .containerContact {
    justify-content: center;
    align-items: center;
  }
  .deliveryImage {
    width: 40vw;
  }
  .titleContact {
    font-size: 5vw;
  }
  .form input {
    width: 80%;
    /* border-radius: 2vw; */
  }
  .form textarea {
    width: 80%;
    /* border-radius: 3vw; */
  }
  .containerImage {
    margin-bottom: 20vw;
  }
}

@media screen and (max-width: 576px) {
  .containerContact {
    justify-content: center;
    align-items: center;
  }
  .deliveryImage {
    width: 40vw;
  }
  .titleContact {
    font-size: 5vw;
  }
  .form input {
    width: 80%;
    border-radius: 2vw;
  }
  .form textarea {
    width: 80%;
    border-radius: 3vw;
  }
  .containerImage {
    margin-bottom: 20vw;
  }
}

@media screen and (max-width: 480px) {
  .containerContact {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .deliveryImage {
    display: none;
  }
  .titleContact {
    font-size: 8vw;
  }

  .form input {
    width: 90%;
    border-radius: 3vw;
  }
  .form textarea {
    width: 90vw;
    border-radius: 3vw;
  }
  .form button {
    border-radius: 2vw;
    width: 2vh 4vw;
  }
  .containerImage {
    margin-bottom: 30vw;
  }
}
