.infoTable {
  min-height: 800px;
  background-color: whitesmoke;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;

}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

table.customersTable {
  margin-top: 3vh;
  margin-bottom: 5vh;
  width: 95%;
  border: none;
  border-collapse: collapse;
  text-align: center;
}

table.customersTable th {
  background-color: #fe6849;
  padding: 5px 0;
  color: white;
}

.customersTable tbody tr:nth-child(2n-1) {
  background-color: white;
}

.customersTable tbody tr:nth-child(2n) {
  background-color: #eee;
}

.customersTable tbody td {
  padding: 5px 0;
}

.profilePic {
  width: 75px;
  height: 75px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3px auto;
  box-shadow: 1px 1px 2px #fe674969;
}

.buttonsSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 106px;
}

.buttonsSection button:first-child{
  margin-bottom: .5em;
}

.buttonsSection svg{
  font-size: 25px;
  margin-right: 5px;
}

.filterContainer{
  width: 95%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.filterContainer>div{
  margin-right: 3vw;
}

.filterContainer input,
.filterContainer select{
  background-color: white;
}

.filterContainer>div:first-child{
  font-weight: 600;
  font-size: 20px;
}

.filterContainer label{
  margin-right: .5em;
  font-size: 18px;
}

.filterContainer input,
.filterContainer select{
  padding: .5em ;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ccc;
  transition: all 300ms;
}

.filterContainer input:focus{
  border: 2px solid rgb(25, 118, 210);
}



.filterContainer select{
  width: 15vw;
}

.results{
  margin-top: 3vh;
  padding-left: 3vw;
  margin-bottom: -2vh;
}