/* borrar */

.containerFooter {
  display: flex;
  align-items: center;
  padding: 2vw;

}

.logo {
  width: 10vw;
}

.iconsFooter {
  width: 2vw;
 padding: 0.5vw;
}

.parrafo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.boxIcons {
  padding: 1vw;
  text-align: center;
}

.map {
  width: 25vw;
}


/* @media screen and (max-width: 480px) {
  .containerFooter {
    flex-direction: column;
  }
  .logo {
    width: 50vw;
  }
  .containerParrafo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .parrafo {
    display: none;
  }
} */



@media only screen and (min-width: 425px) {
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 991px) {
}
@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}

@media only screen and (min-width: 2560px) {
}

