/* borrar */

.containerFooter {
  display: flex;
  justify-content: space-between;
  padding: 2vh 6vw;
  align-items: center;
}

.logo {
  width: 10rem;
}

.iconsFooter {
  width: 2.3vw;
 padding: 0.5vw;
}

.parrafo {
  display: flex;

  width: 100%;
}
.navegation {
display: flex;
flex-direction: column;
} 

.boxIcons {
  padding: 1vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  width: 25vw;
} 

.boxSocial {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxData {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20vw;
}

.boxData p {
  color: slategray;
}

.street {
  width: 100%;
}

.navegation a {
  color: slategray;
}

.navegation a:hover {
  color: tomato;
}


@media only screen and (max-width: 425px) {
.information {
  display: none;
}
/* .logo {
  width: 10rem;
} */
.iconsFooter {
  width: 8vw;
 padding: 0.5vw;
}

}

@media only screen and (max-width: 576px) {



}

@media only screen and (max-width: 768px) {
  .information {
    display: none;
  }
  /* .logo {
    width: 20vw;
  } */
  .iconsFooter {
    width: 3vw;
   padding: 0.5vw;
  }


}

@media only screen and (max-width: 991px) {

}

