/* borrar */

.containerFooter {
  display: flex;
  justify-content: space-between;
  padding: 2vh 6vw;
  align-items: center;
}

.logo {
  width: 10vw;
}

.iconsFooter {
  width: 2.3vw;
 padding: 0.5vw;
}

.parrafo {
  display: flex;

  width: 100%;
}
.navegation {
display: flex;
flex-direction: column;
} 

.boxIcons {
  padding: 1vw;
  text-align: center;
}

.map {
  width: 25vw;
} 




@media only screen and (max-width: 425px) {
.information {
  display: none;
}
.logo {
  width: 35vw;
}
.iconsFooter {
  width: 8vw;
 padding: 0.5vw;
}

}

@media only screen and (max-width: 576px) {



}

@media only screen and (max-width: 768px) {
  .information {
    display: none;
  }
  .logo {
    width: 20vw;
  }
  .iconsFooter {
    width: 3vw;
   padding: 0.5vw;
  }


}

@media only screen and (max-width: 991px) {

}

