.boxNavigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.logo {
  width: 10rem;
}

.user {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px rgba(255, 99, 71, 0.5);
}

.userData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.userMenuContainerLogged,
.userMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 13vh;
  right: 3vw;
  width: 18rem;
  height: 15vh;
  padding: 3.5vw;
  margin-right: 2.3rem;
}

.userMenuContainerLogged {
  top: 18vh;
}

.userMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 2px black;
  border-radius: 10px;
  background-color: whitesmoke;
}

.userMenu a {
  color: slategray;
  margin: 1vh 0;
  text-align: center;
}

.containerNavegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 5vw;
  width: 100%;
  align-self: center;
  color: slategray;
}

.navegation a {
  padding: 6vh 2vw;
  text-decoration: none;
}

.textRoute {
  color: slategrey;
}
.textRoute:hover {
  color: #fe6849;
}

.active {
  background-color: #fe6849;
  color: #fff;
  text-decoration: none;
}
.active:hover {
  color: white;
}

.userName {
  font-size: 1rem;
  color: slategrey;
}
.menuHamburguesa {
  display: none;
}

.salvador {
  display: none;
}
.activeHamburguesa {
  color: #fe6849 !important;
}

@media only screen and (max-width: 768px) {
  .navegation,
  .userData {
    display: none;
  }
  .userMenuContainer,
  .userMenuContainerLogged {
    top: 27vh;
    right: 0;
    width: 100vw;
    margin: 0;
  }
  .userMenuContainer {
    top: 21vh;
  }

  .menuHamburguesa {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    color: #fe6849;
  }

  .salvador {
    display: flex;
    flex-direction: column;
  }
}
