.boxNavigation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.logo {
  width: 10vw;
}

.user {
  width: 4.5vw;
}

.containerNavegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  align-self: center;
}

.navegation a {
  padding: 6vh 2vw;
  text-decoration: none;

}

.active {
  background-color: #fe6849;
  color: #fff;
  /* height: 70%; */
  text-decoration: none;
}


@media screen and (max-width: 1218px) {
  header {
    background-color: lightcoral;
  }
}

@media screen and (max-width: 800px) {
  header {
    background-color: violet;
  }
}

@media screen and (max-width: 480px) {
  header {
    background-color: seagreen;
  }

  .containerNavegation {
    flex-wrap: wrap;
  }
}
