/* borrar */

.logo {
  width: 10vw;
}

.user {
  width: 5vw;
}

.userData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15vw;
}

.userMenuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15vh;
  right: 3vw;
  width: 10vw;
  height: 15vh;
  background-color: #fe6849;
  padding: 2vw;
  border-radius: 20%;
}

.userMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 2px black;
  border-radius: 20%;
}

.userMenu a {
  color: black;
  margin: 1vh 0;
  text-align: center;
}

.containerNavegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid #e0e0e0;
}

.navegation a {
  padding: 6vh 2vw;
  text-decoration: none;
}

.active {
  background-color: #fe6849;
  color: #fff;
  height: 90%;
  text-decoration: none;
}

