div.containerAdresses,
div.containPersonalData {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.267);
}

div.containerAdresses {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.containImage,
div.ImageEdit {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.containImage {
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
}

div.containFormAddress,
div.containForm {
  display: flex;
  width: 70%;
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.containFormAddress {
  height: 70%;
  background-color: #fff;
  border-radius: 30px;
}

div.containFormModal {
  background-color: rgba(0, 0, 0, 0.727);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

form div {
  width: 100%;
}

div.containImageEdit {
  height: 100%;
  width: 10%;
}

div.ImageEdit {
  height: 20%;
  width: 100%;
  cursor: pointer;
}

div.containForm button {
  margin-top: 1rem;
}
div.containTitle {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.exit {
  position: absolute;
  top: 18%;
  right: 18%;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  cursor: pointer;
  z-index: 10;
}
.addressCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}
