div.containerAdresses,
div.containPersonalData {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.267);
}

div.containerAdresses {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.containImage,
div.ImageEdit {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.containImage {
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
}

div.containFormAddress,
div.containForm {
  display: flex;
  width: 55%;
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.containFormAddress {
  height: 70%;
  background-color: #fff;
  border-radius: 30px;
}

div.containFormModal {
  background-color: rgba(0, 0, 0, 0.727);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

form div {
  width: 100%;
}

div.containImageEdit {
  height: 100%;
  width: 10%;
}

div.ImageEdit {
  height: 20%;
  width: 100%;
  cursor: pointer;
}

/* div.containForm button {
  margin-top: 1rem;
  align-self: center;
} */
div.containTitle {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.exit {
  position: absolute;
  top: 18%;
  right: 18%;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  cursor: pointer;
  z-index: 10;
}
.activeCard,
.addressCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  align-self: center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(78, 78, 78);
  border: solid 1px rgb(221, 221, 221);
}
.addressCard span {
  color: slategray;
}
.addressBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
}
.mainPersonalData,
.mainAddress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40vh;
}
.mainAddress {
  justify-content: center;
  padding: 0 5%;
}
.addressesContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: flex-start;
}
.submitPhoto {
  color: tomato;
  cursor: pointer;
}
.containImage {
  box-shadow: 0px 2px 10px 7px rgba(0, 0, 0, 0.16);
  margin-bottom: 15%;
}
.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonBox button {
  /* margin-right: -50%; */
  margin-top: 4%;
  padding: 0.5rem 1rem;
}
.containFormAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containFormAddress form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBox2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  width: 28%;
  padding: 5%;
  margin-right: 10%;
  margin-left: -15%;
}
.boxAdressbtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  /* flex-direction: column; */
}
.boxAdressbtn button {
  padding: 1.5% 2.5%;
}
.world {
  width: 100px;
}
.boxCard {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainPayment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
}
.mainPayment p {
  color: slategrey;
  margin-top: 3%;
  margin-bottom: -3%;
}

.activeCard {
  box-shadow: 2px 2px 2px #fe6849;
}
.addressAlias,
.addressName {
  display: block;
}
.message {
  font-size: 1.3rem;
  font-weight: 500;
  color: #fe6849;
}
.message2 {
  font-size: 1rem;
  font-weight: 400;
  color: slategray;
  text-align: center;
}
.containMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}
