.main {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.borderCard {
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
}

.card{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
}

.exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  cursor: pointer;
}

.cardInfo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div{
  height: 70%;
}

.picture {
  width: 100%;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.cardDetails {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.column_1{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.column_2{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.no_column{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.order {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}

.amount {
  width: 7rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  border-radius: 3px;
  color: rgb(61, 61, 61);
  border-top: rgb(61, 61, 61) 1px solid;
  border-bottom: rgb(61, 61, 61) 1px solid;
}

.amountButton {
  cursor: pointer;
  text-align: center;
  width: 1.5rem;
  border-radius: 3px;
  border-left: rgb(61, 61, 61) 1px solid;
  border-right: rgb(61, 61, 61) 1px solid;
  background-color: #ffb900;
}

.text {
  text-align: justify;
}

.h3 {
  color: #fe6849;
}

.input {
  cursor: pointer;
  margin-left: 1rem;
}

.addToCart {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 3px;
  background-color: rgb(163, 163, 163);
}

.span {
  font-weight: 600;
}

.calification svg {
  color: rgb(248, 202, 48);
}

@media only screen and (max-width: 1024px) {
  .card{
    font-size: 0.9rem;
  }
  .picture {
    width: 100%;
    height: 75%;
    margin-bottom: 0.9rem;
  }
  .choices {
    gap: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .card{
    font-size: 0.75rem;
  }
  .cardInfo{
    width: 40%;
  }
  .cardDetails{
    width: 60%;
  }
  .div{
    height: 60%;
  }
}

@media only screen and (max-width: 576px) {
  .borderCard{
    width: 95vw;
    height: 95vh;
  }
  .exit {
    top: 0.5rem;
    right: 0.5rem;
  }
  .card{
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .cardInfo{
    width: 100%;
    height: 85%;
  }
  .cardDetails{
    width: 100%;
    height: 80%;
  }
  .price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 425px) {
  
}