.main {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.card {
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  padding: 2rem;
  position: relative;
}

.exit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: rgb(61, 61, 61);
  cursor: pointer;
}

.product {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cardInfo {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardPicture {
  width: 40%;
}

.cardPrice {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.order {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.amount {
  width: 7rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
  border-radius: 3px;
  color: rgb(61, 61, 61);
  border-top: rgb(61, 61, 61) 1px solid;
  border-bottom: rgb(61, 61, 61) 1px solid;
}

.amountButton {
  cursor: pointer;
  text-align: center;
  width: 1.5rem;
  border-radius: 3px;
  border-left: rgb(61, 61, 61) 1px solid;
  border-right: rgb(61, 61, 61) 1px solid;
  background-color: #ffb900;
}

.title {
  color: #fe6849;
  text-align: justify;
}

.h3 {
  color: #fe6849;
}

.input {
  cursor: pointer;
  margin-left: 1rem;
}

.addToCart {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 3px;
  background-color: rgb(163, 163, 163);
}

.span {
  font-weight: 600;
}

.calification svg {
  color: rgb(248, 202, 48);
}