.boxDiv{
    width: 45%;
    height: 85%;
    background-color:  #fe6849;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.mainSign{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.boxButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeButton{
    width: 10rem;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffb900;
    font-weight: 600;
}

.button{
    width: 10rem;
    padding: 0.75rem;
    text-align: center;
    background-color: black;
    color: white;
    font-weight:600;
}

.nameContent, .contactContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.name{
    width: 47%;
    height: 2rem;
    padding-left: 1rem;
}

.contact{
    width: 100%;
    height: 2rem;
    padding-left: 1rem;
}

.boxForm{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h1{
    margin: 2rem 0;
}

.submitButton{
    margin: 2rem 0;
    width: 7rem;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffb900;
    font-weight: 600;
}

.submitButton:hover, .button:hover{
    color: white;
    text-decoration: underline;
}

@media screen and (max-width:1024px) {
    .boxDiv{
        padding: 2rem;
    }

    .boxForm{
        gap: 0.75rem;
    }

    .button, .activeButton{
        padding: 0.5rem;
    }

    .h1{
        margin: 0.75rem 0;
        text-align: center;
    }

    .name, .contact{
        height: 1.75rem;
    }

    .submitButton{
        padding: 0.5rem;
        margin: 1.25rem 0;
    }
}
@media screen and (max-width:768px) {
    .nameContent{
        gap: 0.75rem;
    }

    .name{
        width: 100%;
    }

    .boxDiv{
        width: 55%;
        height: 92%;
    }
}
@media screen and (max-width:425px) {
    .boxDiv{
        width: 100%;
        height: 100%;
    }

    .h1{
        margin: 0.7rem 0;
    }
}
@media screen and (max-width:375px) {}