/* ---PAGE PROFILE---*/
div.containerButtonCheck{
	background-color: black;
	width: 50%;
	height: 15vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

div.containerRenderView{
	height: 100vh;
	width: 50%;
	padding: 2rem;
}

div.containerButtonCheck button{
	height: 8vh;
	width: 8vw;
	border: none;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
	background-color: white;
	color:  black;
}

div.renderView{
	border: 1px solid white;
	width: 50%;
	height: 100%;
	box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.75);
}

/* --- COMPONENTE DATOS ---*/

div.containerProfile button{
	width: 10vh;
	height: 6vh;
	margin: 6px;
	padding: 2px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 17px 3px rgba(0,0,0,0.75);
}

div.containerData{
	display: flex;
	padding: 1rem;
	height: 100%;
	width: 100%;
	align-items: center;
}

div.imageProfile{
	height: 100%;
	width: 60%;
	background-position: center;
	background-size: cover;
	padding: 1rem;
	
}

div.containerProfile{
	width: 28%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 100%;
}

div.containerCardProfile, div.containerDateProfile{
	display: flex;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
	justify-content: center;
	background-color: white;
	padding: 1.5rem;
	box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 3px 5px 0px rgba(0,0,0,0.75);
}

div.imageCard{
	height: 50vh;
	width: 42vw;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

div.inputsDataUser{
	width: 100%;
	height: 8vh;
	padding: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

div.inputsDataUser input{
	border: none;
	padding: 0.4rem;
	border-bottom: 1px solid black;
	background-color: transparent;
}

div.bodyInputCard{
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.headerInputCard input, div.footerInputCard input{
	width: 100%;
}

div.bodyInputCard input{
	width: 100%;
}
div.imageAddViewCard{
	height: 44vh;
	width: 50%;
	
}
div.imageBack, div.imageAddViewCard, div.imageProduct, div.imageCards{
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
div.imageBack{
	height: 10vh;
	width: 7vw;
}

div.containImageBack{
	height: 100%;
	width: 10%;
	display: flex;
	align-items: flex-start;
}

/* ---COMPONENTE HISTORY Y FAV ---*/

div.containHistory, div.containFavorites{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	justify-content: center;
	overflow-y: auto;
}

div.containAlerts{
	background-color: black;
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
}
div.containButtonsAlerts{
	flex-direction: row;

}
div.containButtonsAlerts button{
	border: none;
	border-radius: 15px;
}
div.containerTextAlerts{
	text-align: center;
}

/* --- FAV ---*/
div.products{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(300px, auto);
	gap: 1.5rem;
	padding: 1.5rem;

}
div.product{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 15px;
	height: 90%;
	box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.57);
	-webkit-box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.57);
	-moz-box-shadow: 8px 6px 5px 0px rgba(0,0,0,0.57);
}
div.imageProduct{
	background-size: cover;
	height: 30vh;
	width: 100%;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
}
div.productDescription,div.productTitle,h3.price,div.productButton{
	padding: 18px;
}
div.productTitle,div.productDescription,div.productButton{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	text-align: center;
}
div.productDescription{
	align-items: flex-start;
	height: 30%;
}
h3.price{
	background-color: tomato;
	border-radius: 15px;
}
div.productButton button{ 
	height: 7vh;
	width: 30%;
	border: none;
	background-color: yellowgreen;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
}
/* -- CARDS -- */

div.cardsContain, div.containCardsProfile{
	display: flex;
	width: 100%;
	height: 100%;
}
div.listImageCards{
	width: 100%;
	height: 100%;
	padding: 1rem;
	overflow-y: auto;
}

div.containCards{
	width: 80%;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
	margin-bottom: 0.5rem;
	box-shadow: 3px 5px 10px 7px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 5px 10px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 5px 10px 7px rgba(0,0,0,0.75);
}

div.containCards button{
	height: 10vh;
	width: 8vw;
	border: none;
	background-color: darkred;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

div.imageCards{
	height: 20vh;
	width: 30%;
	margin-bottom: 0.3rem;
}
